<div class="card-section">
  <div class="cards">
    <div class="card">
      <img src="../../../../assets/online_demo.png" alt="" />
      <h2>2D Demo</h2>
      <p>
        View a demo of an interactive parts catalogue created with Components
        Engine to discover the software funtionalities.
      </p>
      <a
        href="https://ipc.sparepartsoftware.com/site/pagece5.wplus?ID_COUNT=ce_5_home&LN=2&CEPV=Demo2D2023&NDS=CE_1&KPRD=CE_1&PRF=1&PRC=|R|CE_1&CELN=2&CEME=2"
        >View</a
      >
    </div>
    <div class="card">
      <img src="../../../../assets/demo_3D.png" alt="" />
      <h2>3D Demo</h2>
      <p>
        The spare parts software Components Engine allows you to create 3D
        interactive parts catalogs. View our online demo.
      </p>
      <a
        href="https://ipc.sparepartsoftware.com/site/pagece5.wplus?ID_COUNT=ce_5_login&LN=2&CEPV=WorkingTruck3D&NDS=CE_1&KPRD=CE_1&PRF=1&PRC=|R|CE_1&CELN=2&CEME=2"
        >View</a
      >
    </div>
    <div class="card">
      <img src="../../../../assets/webinar_2022.png" alt="" />
      <h2>Webinar</h2>
      <p>
        In our webinars we will present the new Components Engine solutions for
        the after-sales management. Sign up now!
      </p>
      <a
        href="https://www.componentsengine.com/site/page.wplus/Electronic-parts-catalog/English/ID_COUNT/webinar/LN/2/wx/webinar.html"
        >View</a
      >
    </div>
    <div class="card">
      <img src="../../../../assets/customers.png" alt="" />
      <h2>Customers</h2>
      <p>
        Components Engine is currently used by over 500 companies worldwide.
        View our customers list.
      </p>
      <a
        href="https://www.componentsengine.com/site/page.wplus/Electronic-parts-catalog/English/ID_COUNT/elenco_clienti/LN/2/wx/elenco_clienti.html"
        >View</a
      >
    </div>
  </div>
</div>
