<main class="main">
  <div class="content borda">
    <app-topo></app-topo>
    <app-banner></app-banner>
    <app-cards-section></app-cards-section>
    <hr />
    <h2>Lorem ipsum</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec feugiat
      dolor. Quisque eleifend nibh sed est egestas ultrices. Nam id eleifend
      orci, vel elementum libero. Vivamus volutpat ultricies augue, id laoreet
      lectus mollis eu. Cras lacus nunc, volutpat vulputate neque ut, viverra
      dictum purus. Phasellus augue nibh, ornare eget. 🎉
    </p>
    <div class="right-side"></div>
  </div>
</main>

<router-outlet />
