/* You can add global styles to this file, and also import other style files */
:root {
  --border0: 10px solid #000;
  --border: 10px solid red;
  --border1: 10px solid blue;
  --border2: 10px solid green;
  --border3: 10px solid orange;
  --border4: 10px solid purple;
  --border5: 10px solid #fff;
}

* {
  box-sizing: border-box;
  color: #252422;
}

html {
  font-size: 16px;
}

body,
.App {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("./assets/bg.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.limitar-div {
  max-width: 1024px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

hr {
  height: 1px;
  margin: 50px 0;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(rgba(0, 0, 0, 0)),
    color-stop(0.5, #333333),
    to(rgba(0, 0, 0, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  background: linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  border: 0;
}
hr:after {
  display: block;
  content: "";
  height: 30px;
  background-image: -webkit-gradient(
    radial,
    50% 0%,
    0,
    50% 0%,
    116,
    color-stop(0%, #cccccc),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background-image: -webkit-radial-gradient(
    center top,
    farthest-side,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: -moz-radial-gradient(
    center top,
    farthest-side,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: -o-radial-gradient(
    center top,
    farthest-side,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: radial-gradient(
    farthest-side at center top,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
