.banner {
  padding: 20px;
  display: flex;
  width: 100%;
  flex-direction: row;
  background: rgb(219, 220, 212);
  background: linear-gradient(
    0deg,
    rgba(219, 220, 212, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  img {
    width: 300px;
    border-radius: 360px;
  }
  h1 {
    color: rgb(219, 2, 2);
  }
}
